/* ---------------------------------------------------------- */
/* layouts */
/* ---------------------------------------------------------- */
@-ms-viewport {
	width: device-width; //ms snap support
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $fontFamily;
	font-size: 1em;
	line-height: 1.5em;
	background: #FFF;
	color: #333;
	margin: 0 auto;
}

.page-container {
	min-height: 100%;
	max-width: 1200px;
	width:90%;
	margin:0 auto;
}